<%- include('header'); %>

    <div id="signIn">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            document.getElementById("signIn").style.display="none";
            document.getElementById("signOut").style.display="block";
            document.getElementById("name").value=profile.getName();
            document.getElementById("gimage").value=profile.getImageUrl();
            document.getElementById("email").innerHTML=profile.getEmail();
            document.getElementById("myForm").submit();
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
            document.getElementById("signIn").style.display="block";
            document.getElementById("signOut").style.display="none";
        }
    </script>
    <div id="signOut" style="display:none">
        <a href="#" onclick="signOut();">Sign out</a>
        <form id="myForm" action="/user" method="post">
            <input type="hidden" id="name" name="name" value=""> 
            <input type="hidden" id="email" name="email" value=""> 
            <input type="hidden" id="gimage" name="gimage" value=""> 
            <input type="submit" value="submit" style="display: none;">
        </form>
    </div>

</body>
</html>